<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head th:replace = "layouts :: header"> </head>
<body>
	>
		<nav th:replace = "layouts :: foo"></nav>
			
			<div class="container">
				<h3>Project Directory</h3>
				<hr>
				<a th:href="@{/projects/new}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add Project</a>
				<br>
				<br>
				<table th:fragment = "table"  class="table">
  						<thead class="thead-dark">
   								 <tr>
      								<th>Project Name </th>
									<th>Project Stage </th>
     								 
   								 </tr>
  						</thead>
  						<tbody>
    							<tr th:each = "aProject : ${project}"> 
			  						<td th:text = "${aProject.name}">  </td>
			  						<td th:text = "${aProject.stage}">  </td>
			</tr>
 						 </tbody>
</table>
			</div>		
</body>
</html>