<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head th:replace = "layouts :: header"> </head>
<body>
	>
		<nav th:replace = "layouts :: foo"></nav>
			
			<div class="container">
				<h3>Employee Directory</h3>
				<hr>
				<a th:href="@{/employee/new}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add Employee</a>
				<br>
				<br>
				<table th:fragment = "table"  class="table">
  						<thead class="thead-dark">
   								 <tr>
      								<th scope="col">Firstname</th>
      								<th scope="col">LastName</th>
      								<th scope="col">Email Address</th>
     								 
   								 </tr>
  						</thead>
  						<tbody>
    							<tr  th:each = "anEmployee : ${employeeList}">
									<td th:text = "${anEmployee.firstName}"> </td>
									<td th:text = "${anEmployee.lastName}"> </td>
									<td th:text = "${anEmployee.email}"> </td>
				
			</tr>
 						 </tbody>
</table>
			</div>		
</body>
</html>